<div class="comments p-1">
    <div  class="m-2 rounded-2" *ngFor="let comment of this.post.comments">
        <div class="row">
            <div class="col-3">
                <h6>{{comment.author}}</h6>
            </div>
            <div *ngIf="!comment.editing" class="col mx-1 text-center bg-white">
                {{comment.text}}
            </div>
            <div *ngIf="comment.editing" class="col mx-1 text-center bg-white">
                <textarea class="my-2 w-100" rows="1" [(ngModel)] = "comment.textArea"></textarea>
            </div>
            <div  *ngIf="comment.author==name && !comment.editing" class="col-2">
                <button class="btn btn-sm edit" (click)="edit(comment)" >Edit</button>
            </div>
            <div  *ngIf="comment.editing" class="col-2">
                <button class="btn btn-sm edit" (click)="finishComment(comment)">Finish</button>
            </div>
        </div>

    </div>
    <div>
        <div class="row">
            <div class="col-9">
                <textarea class="my-2 mx-3 w-100" rows="1" [(ngModel)] = "post.addCommentTextArea"></textarea>
            </div>
            <div class="col ml-3 my-2 mx-2">
                <button class="btn btn-sm" (click)="addComment()" >Post</button>
            </div>
        </div>
    </div>
</div>


